<h1>Dele Oladunmoye</h1>
<p>
  Hi, I'm Dele. I'm an aspiring full stack developer who loves learning and
  eager to explore new technologies.
</p>

<mat-card>
  <mat-card-content fxLayout="row wrap" fxLayout.xs="column">
    <div fxflex>
      <img
        src=""
        alt="My Photo"
        [style.margin]="'10px'"
        [style.max-width]="'90%'"
      />
    </div>
    <div fxFlex>
      <div [style.max-width]="'100px'" [style.margin]="'300px'">
        <strong></strong> <br />

        <br />
      </div>
    </div>
  </mat-card-content>
</mat-card>
